@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}

a.active hr {
  display: block;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

::-webkit-scrollbar {
  display: none;
}
